*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.tcp
*.mtc
*.mtc1
*.out
*.synctex.gz
*.pdf
*.brf
*.bak*.log
*out
*.pdfsync
*.synctex
*.toc
*.tps
